{% extends 'base.html' %}

{% block title %}
    User List
{% endblock %}

{% block content %} 
    <form action="{% url 'users:search'%}" method="GET" class="mb-2">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
    </form>

    <h1 class="text-center mb-4">Profiler App</h1>
    {% if page_obj %}
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th class="text-center">Profile Image</th>
            </tr>
        </thead>
        <tbody>
            {%for user in page_obj %}
            <tr>
                <td>{{ user.user_fname }}</td>
                <td>{{ user.user_lname }}</td>
                <td>{{ user.user_email }}</td>
                <td class="text-center">
                <a href="{% url 'users:detail' user.id %}">
                <img src="media/{{ user.user_image }}" alt="userimage" width="50" height="50" class="rounded-circle"></td>
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item"> <a href="?page=1" class="page-link">&laquo; First </a></li>
            <li class="page-item"> <a href="?page={{ page_obj.previous_page_number }}" class="page-link"> previous</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item"> <a href="?page={{ page_obj.next_page_number }}" class="page-link"> next </a></li>
            <li class="page-item"> <a href="?page={{ page_obj.paginator_num_pages }}" class="page-link">&raquo; last</a></li>
        {% endif %}
            
    </ul>

</div>
{% endif %}


{% endblock %}